
<div class="pieddepage">
      <div class="reseaux_sociaux">
            <div class="imc"><a href="https://www.facebook.com/"><img src="facebook.jpg" alt="Facebook" width="30" height="30"></a></div>
            <div class="imc"><a href="https://fr.linkedin.com/"><img src="linkedin.jpg" alt="Facebook" width="30" height="30"></a></div>
            <div class="imc"><a href="https://twitter.com/"><img src="twitter.jpg" alt="Facebook" width="30" height="30"></a></div>
      </div>

      <div class="reseaux_sociaux">
           <p class="Auteur">Auteur et superviseur</p>
      </div>

      <div class="reseaux_sociaux">
            <p class="Mentions">Mentions légalles</p>
      </div>
</div>