<div class="entete"><!--<img src="velopasteque.jpg" alt="fruits" width="100%" height="150"> -->
      <div class="logo"><img src="">Logo</div>
      <div class="title"><h1>Titre du site</h1></div>
      <div class="date">Date du jour</div>
</div>