
<!DOCTYPE html>
<html lang="fr">
        
            <head>
                  <link rel="stylesheet" href="index.css">
                  <%- include('../partials/head.ejs'); %>
                 
            
      </head>

      <body>  
            <div class="site">
            <div class="entete_site">
                  <header>
                       <%- include('../partials/header.ejs'); %>
                 </header>
           </div>
                          <div class="connexion">
                             <h1>Connexion au compte</h1>
                             <form>
                                   login : <input type="text" id="login" name="login">
                                   <br />
                                   password : <input type="password" name="mdp" id="mdp">
                                   <br />
                                   <input type="submit" value="Je me connecte">
                             </form>
                       </div> 
                       <footer>
                        <%- include('../partials/footer.ejs'); %>
                         </footer>   
                       </div>        
      </body>
</html