<!DOCTYPE html>
<html lang="fr">
      <head>
            <%- include('../partials/head.ejs'); %>
      </head>
      <body>

      <div class="entete_site">
                   <header>
                        <%- include('../partials/header.ejs'); %>
                  </header>
            </div>
            <div class="corps">
                  <div class="navigation">
                  
                        <div class="connexion_inscription"><a href="particulier.ejs">Particulier</a></div> 
                       <div class="connexion_inscription"><a href="professionnel.ejs">Professionnel</a></div>
                        
                       <div class="connexion_inscription"><a href="connexion.ejs">connexion</a></div> 
                       <div class="connexion_inscription"><a href="inscription.ejs">Inscription</a></div> 
                           
                  </div>
            </div>
            <footer>
                  <%- include('../partials/footer.ejs'); %>
            </footer>
      </body>
</html